<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Proxy pocketbase to bypass ISP blocks
  RewriteRule ^api/pb/(.*)$ https://api.tochilka.app/$1 [P,L]

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
